@charset "UTF-8";


/*====================================

	Sitemap

====================================*/
#Sitemap .top-hero { background-image: url(/assets/images/common/hero_basic.png); }
.sitemap-list { border-top: 1px solid #dce0e3; }
.sitemap-list > li { border-bottom: 1px solid #dce0e3; }
.sitemap-list > li a {
	display: block;
	padding:23px 0 19px 40px;
}
.sitemap-list > li:nth-child(n+2):nth-child(-n+5) { padding: 0 0 30px; }
.sitemap-list > li:nth-last-child(-n+2) { padding: 0; }
.sitemap-list > li:after {
	content: '';
	display: block;
	clear: both;
}
.sitemap-list__child > li { border-bottom: 1px dotted #dce0e3; }
.sitemap-list a { position: relative; padding:17px 0 17px 40px; display: block; }
.sitemap-list a:before {
	content: '';
	width: 6px;
	height: 6px;
	display: inline-block;
	border-top: 1px solid #2383c5;
	border-right: 1px solid #2383c5;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
.sitemap-item > a:before { left: 9px; }
.sitemap-item__child:before { left: 6px; }
.sitemap-item,
.sitemap-list__child {
	float: left;
}
.sitemap-item {
	display: block;
	width: 25.4385964%;
	line-height: 1;
}
.sitemap-list__child { width: 74.5614%; }
.sitemap-item > a {
	display: inline-block;
	padding: 0 0 0 40px;
}
.sitemap-list > li:first-child .sitemap-item,
.sitemap-list > li:nth-child(n+6) .sitemap-item {
	width:100%;
}
.sitemap-item__lato,
.sitemap-item__txt {
	display: block;
}
.sitemap-item__lato { font-family: 'Lato-BoldItalic'; }
.sitemap-item__txt {
	color: #919ca2;
	font-size: 11px;
	line-height: 20px;
}
.sitemap-item__child {
	line-height: 28px;
	padding: 0 0 0 40px;
}
@media screen and (max-width: 767px) {
	.sitemap-list > li a{
		padding: 13px 0 13px 20px;
	}
/*
	.sitemap-list > li{
		margin-bottom:15px;
	}
*/
	.sitemap-list > li:nth-child(n+2):nth-child(-n+5) { padding: 0; }
	.sitemap-list > li:nth-child(n+2):nth-child(-n+5) a {
		padding-bottom:0;
		padding-top:0;
	}
	.sitemap-list > li:nth-child(n+2):nth-child(-n+5) {
		padding-top:14px;
	}
	.sitemap-list > li:nth-last-child(-n+2) a {
		padding:22px 0 22px 20px;
		font-size:14px;
	} 
	.sitemap-list > li:last-child { padding: 0; }
	.sitemap-list__child > li {
		border-bottom: none;
		padding: 0;
	}
	.sitemap-list__child > li:first-child { padding: 0; }
	.sitemap-item > a {
		display: block;
		padding: 0 0 0 20px;
	}
	.sitemap-item > a:before { left: -2px; }
	.sitemap-item__child:before { left: -2px; }
	.sitemap-item,
	.sitemap-list__child {
		float: none;
		width: 100%;
	}
	.sitemap-list__child {
		padding: 0 0 0 20px;
		margin: 0 0 14px;
	}
	.sitemap-list .sitemap-list__child .sitemap-item__child {
		display: block;
		font-size: 14px;
		line-height: 22px;
		padding: 0 0 0 20px;
		margin-top:6px;
	}
	.sitemap-item__lato { font-size:14px; }
	.sitemap-item__txt{
		font-size:10px;
		line-height:1;
		margin-top:5px;
	}
}
