@charset "utf-8";
/* CSS Document */

/* 透過png */
.iepngfix {
	behavior: expression(IEPNGFIX.fix(this));
}

/* link */
#creat_wrap a:link {color: #042200;	text-decoration: none;}
#creat_wrap a:visited {color: #042200; text-decoration: none;}
#creat_wrap a:hover {color: #0e7400; text-decoration: none;}
#page_navi li a:link {color: #FFF; text-decoration: none;}
#page_navi li a:visited {color: #FFF; text-decoration: none;}
#page_navi li a:hover {color: #FFF; text-decoration: underline;}


.bg_all02 {
	width: 880px;
	margin: 10px 0px 10px 10px;
	padding-bottom:16px;
	background-image:  url(../../../common/img/bg.gif);
	background-repeat: repeat-y;
	float: left;
	display: inline;

}


#creat_wrap {
	width: 900px;
	float: left;
	display: inline;
	border-bottom: 10px solid #676767;
	margin-bottom: 10px;
	color: #042200;
}


.creat_tit {
	width: 850px;
	margin: 30px 0px 25px 17px;
	padding: 0px 0px 10px 3px;
	float: left;
	display: inline;
	background-image: url(../../img/bottom_line.gif);
	background-repeat: no-repeat;
	background-position: 0px 40px;
}

.creat_tit h2 {
	width: 650px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 10px 3px;
	float: left;
	display: inline;
	font-size: 220%;
	font-weight: bold;
	clear: both;
	color: #042200;
}

#creat_wrap .creat_tit p {
	margin: 20px 30px 0px 0px;
	float: right;
	font-weight: bold;
	color: #acacac;
}


#point_list {
	width: 842px;
	margin: 0px 0px 50px 22px;
	float: left;
	display: inline;
}

#point_list span {
	color: #F00;
}

#point_list ul {
	width: 842px;
	float: left;
	display: inline;
	padding-bottom: 16px;
	background-image: url(../img/point_center.gif);
	background-repeat: repeat-y;
}

#point_list li {
	width: 780px;
	float: left;
	margin: 16px 0px 0px 22px;
	padding: 0px 0px 0px 12px;
	background-image: url(../img/green_arrow.jpg);
	background-repeat: no-repeat;
	background-position: left 5px;
}

#point_list img {
	vertical-align: top;
}


#page_navi {
	width: 826px;
	margin: 0px 0px 50px 22px;
}

#page_navi .navi_left {
	text-align: left;
	padding-left: 14px;
	background-image: url(../img/left_arrow.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-weight: bold;
}

#page_navi .navi_center {
	text-align: center;
	font-weight: bold;
}

#page_navi .navi_right {
	text-align: right;
	padding-right: 14px;
	background-image: url(../img/right_arrow.gif);
	background-repeat: no-repeat;
	background-position: right top;
	font-weight: bold;
}

.bottom_link {
	width: 840px;
	margin: 0px auto;
}

.bottom_link li {
	width: auto;
	float: left;
	font-size: 90%;
}

.kk_list {
	width: 800px;
	float: left;
	display: inline;
}

.kk_list .no1 {
	margin: 0px 0px 5px 22px;
	padding: 0px 0px 0px 26px;
	background-image: url(../img/kikaku_no1.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 140%;
	font-weight: bold;
}

.kk_list .no2 {
	margin: 0px 0px 5px 22px;
	padding: 0px 0px 0px 26px;
	background-image: url(../img/kikaku_no2.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 140%;
	font-weight: bold;
}

.kk_list .no3 {
	margin: 0px 0px 5px 22px;
	padding: 0px 0px 0px 26px;
	background-image: url(../img/kikaku_no3.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 140%;
	font-weight: bold;
}

.kk_list ul {
	width: 780px;
	float: left;
	padding: 0px 0px 30px 0px;
}
.kk_list li {
	width: 780px;
	margin: 0px 0px 0px 37px;
	padding: 0px 0px 0px 12px;
	background-image: url(../img/kikaku_arrow.gif);
	background-repeat: no-repeat;
	background-position: left 5px;
	line-height: 1.6;
}

#creat_wrap .creat_slogan {
	width: 880px;
	margin: 0px 0px 30px 22px;
	float: left;
	display: inline;
	line-height: 1.6;
}


