@charset "UTF-8";


/*====================================

	----------------------------------
		Color
	----------------------------------

	Main     : #3e4244
	Key      : #0a74c7
	Accent   : #ffdf33

	----------------------------------
		font
	----------------------------------

	RockSalt
	Lato

	----------------------------------
		Media Query
	----------------------------------

	1200px
	992px
	768px
	320px

	----------------------------------
		Structure
	----------------------------------

	0. Web Font
	1. Grid Layout
	2. Common
	3. General
	4. Header
	5. Footer

	----------------------------------
		Change Log
	----------------------------------

	-2017/03/10	 Modularization


====================================*/


/*====================================

	0. Web Font

====================================*/
/* RockSalt */
@font-face {
	font-family: 'RockSalt';
	src: url('/assets/font/rock-salt/RockSalt.eot');
	src: url('/assets/font/rock-salt/RockSalt.woff') format('woff'),
		 url('/assets/font/rock-salt/RockSalt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Lato-Black */
@font-face {
	font-family: 'Lato-Black';
	src: url('/assets/font/lato/Lato-Black.eot');
	src: url('/assets/font/lato/Lato-Black.woff') format('woff'),
		 url('/assets/font/lato/Lato-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Lato-BlackItalic */
@font-face {
	font-family: 'Lato-BlackItalic';
	src: url('/assets/font/lato/Lato-BlackItalic.eot');
	src: url('/assets/font/lato/Lato-BlackItalic.woff') format('woff'),
		 url('/assets/font/lato/Lato-BlackItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Lato-Bold */
@font-face {
	font-family: 'Lato-Bold';
	src: url('/assets/font/lato/Lato-Bold.eot');
	src: url('/assets/font/lato/Lato-Bold.woff') format('woff'),
		 url('/assets/font/lato/Lato-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Lato-BoldItalic */
@font-face {
	font-family: 'Lato-BoldItalic';
	src: url('/assets/font/lato/Lato-BoldItalic.eot');
	src: url('/assets/font/lato/Lato-BoldItalic.woff') format('woff'),
		 url('/assets/font/lato/Lato-BoldItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Lato-Hairline */
@font-face {
	font-family: 'Lato-Hairline';
	src: url('/assets/font/lato/Lato-Hairline.eot');
	src: url('/assets/font/lato/Lato-Hairline.woff') format('woff'),
		 url('/assets/font/lato/Lato-Hairline.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Lato-HairlineItalic */
@font-face {
	font-family: 'Lato-HairlineItalic';
	src: url('/assets/font/lato/Lato-HairlineItalic.eot');
	src: url('/assets/font/lato/Lato-HairlineItalic.woff') format('woff'),
		 url('/assets/font/lato/Lato-HairlineItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Lato-Italic */
@font-face {
	font-family: 'Lato-Italic';
	src: url('/assets/font/lato/Lato-Italic.eot');
	src: url('/assets/font/lato/Lato-Italic.woff') format('woff'),
		 url('/assets/font/lato/Lato-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Lato-Light */
@font-face {
	font-family: 'Lato-Light';
	src: url('/assets/font/lato/Lato-Light.eot');
	src: url('/assets/font/lato/Lato-Light.woff') format('woff'),
		 url('/assets/font/lato/Lato-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Lato-LightItalic */
@font-face {
	font-family: 'Lato-LightItalic';
	src: url('/assets/font/lato/Lato-LightItalic.eot');
	src: url('/assets/font/lato/Lato-LightItalic.woff') format('woff'),
		 url('/assets/font/lato/Lato-LightItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Lato-Regular */
@font-face {
	font-family: 'Lato-Regular';
	src: url('/assets/font/lato/Lato-Regular.eot');
	src: url('/assets/font/lato/Lato-Regular.woff') format('woff'),
		 url('/assets/font/lato/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/*====================================

	1. Grid Layout

====================================*/
[data-u-col-lg="1"] { width: 8.33333333%; }
[data-u-col-lg="2"] { width: 16.66666667%; }
[data-u-col-lg="3"] {width: 25%; }
[data-u-col-lg="4"] {width: 33.33333333%; }
[data-u-col-lg="5"] {width: 41.66666667%; }
[data-u-col-lg="6"] {width: 50%; }
[data-u-col-lg="7"] {width: 58.33333333%; }
[data-u-col-lg="8"] {width: 66.66666667%; }
[data-u-col-lg="9"] {width: 75%; }
[data-u-col-lg="10"] {width: 83.33333333%; }
[data-u-col-lg="11"] {width: 91.66666667%; }
[data-u-col-lg="12"] {width: 100%; }
.visible-lg-block { display: block !important; }
.visible-lg-inline-block { display: inline-block !important; }
.visible-lg-inline { display: inline !important; }
.hidden-lg { display: none !important; }
@media screen and (max-width: 991px) {
	[data-u-col-md="1"] { width: 8.33333333%; }
	[data-u-col-md="2"] { width: 16.66666667%; }
	[data-u-col-md="3"] {width: 25%; }
	[data-u-col-md="4"] {width: 33.33333333%; }
	[data-u-col-md="5"] {width: 41.66666667%; }
	[data-u-col-md="6"] {width: 50%; }
	[data-u-col-md="7"] {width: 58.33333333%; }
	[data-u-col-md="8"] {width: 66.66666667%; }
	[data-u-col-md="9"] {width: 75%; }
	[data-u-col-md="10"] {width: 83.33333333%; }
	[data-u-col-md="11"] {width: 91.66666667%; }
	[data-u-col-md="12"] {width: 100%; }
	.visible-md-block { display: block !important; }
	.visible-md-inline-block { display: inline-block !important; }
	.visible-md-inline { display: inline !important; }
	.hidden-md { display: none !important; }
}
@media screen and (max-width: 767px) {
	[data-u-col-sm="1"] { width: 8.33333333%; }
	[data-u-col-sm="2"] { width: 16.66666667%; }
	[data-u-col-sm="3"] {width: 25%; }
	[data-u-col-sm="4"] {width: 33.33333333%; }
	[data-u-col-sm="5"] {width: 41.66666667%; }
	[data-u-col-sm="6"] {width: 50%; }
	[data-u-col-sm="7"] {width: 58.33333333%; }
	[data-u-col-sm="8"] {width: 66.66666667%; }
	[data-u-col-sm="9"] {width: 75%; }
	[data-u-col-sm="10"] {width: 83.33333333%; }
	[data-u-col-sm="11"] {width: 91.66666667%; }
	[data-u-col-sm="12"] {width: 100%; }
	.visible-sm-block { display: block !important; }
	.visible-sm-inline-block { display: inline-block !important; }
	.visible-sm-inline { display: inline !important; }
	.hidden-sm { display: none !important; }
}
@media screen and (max-width: 640px) {
	[data-u-col-xs="1"] { width: 8.33333333%; }
	[data-u-col-xs="2"] { width: 16.66666667%; }
	[data-u-col-xs="3"] {width: 25%; }
	[data-u-col-xs="4"] {width: 33.33333333%; }
	[data-u-col-xs="5"] {width: 41.66666667%; }
	[data-u-col-xs="6"] {width: 50%; }
	[data-u-col-xs="7"] {width: 58.33333333%; }
	[data-u-col-xs="8"] {width: 66.66666667%; }
	[data-u-col-xs="9"] {width: 75%; }
	[data-u-col-xs="10"] {width: 83.33333333%; }
	[data-u-col-xs="11"] {width: 91.66666667%; }
	[data-u-col-xs="12"] {width: 100%; }
	.visible-xs-block { display: block !important; }
	.visible-xs-inline-block { display: inline-block !important; }
	.visible-xs-inline { display: inline !important; }
	.hidden-xs { display: none !important; }
}


/*====================================

	2. Common

====================================*/
body {
	color: #3e4244;
	background-color: #fff;
}

body,
input,
button,
textarea,
select {
	font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
@media all and (-ms-high-contrast:none) {
	input,
	button,
	textarea,
	select,
	.ffUnique {
		font-family: "メイリオ", Meiryo, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}
}
input,
button,
textarea,
select {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
ul,
ol { list-style: none; }
a {
	color: #3e4244;
	text-decoration: none;
}
a:hover,
button:hover {
	opacity: .8;
}
img { vertical-align: bottom; }
.pc { display: none; }
.sp { display: none; }
.l-fullGrid { width: 100%; }
.l-grid {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
}
.btn-basic {
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 42px;
	text-align: center;
	border: 2px solid #eaebeb;
}
.btn-primary {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	line-height: 32px;
	text-align: left;
	background-color: #2383c5;
	border:2px solid #2383c5;
	padding: 0 10px 0 28px;
	position: relative;
}
.btn-primary span { display: block; }
.btn-primary span::before {
	content: '';
	width: 6px;
	height: 6px;
	border-top: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 11px;
	margin: auto;
}
.btn-primary:hover span::before {
	border-color:#2383c5;
	transition: 0.3s;
}
.btn-primary::before,
.btn-primary::after {
	background-color: #2383c5;
}
.btn-primary:hover {
	background-color: #fff;
	color: #2383c5;
}
.is-hover {
	position: relative;
	z-index: 2;
}
.is-hover:hover { opacity:1; }
.is-hover::before,
.is-hover::after {
	top: 0;
	width: 50%;
	height: 100%;
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
	transition: .3s;
}
.is-hover::before { right: 0; }
.is-hover::after { left: 0; }
.is-hover:hover::before,
.is-hover:hover::after {
	width: 0;
}
.is-hover,
.is-hover:hover::before,
.is-hover:hover::after {
	-webkit-transition: all .3s;
	transition: all .3s;
}
.clear:before,
.clear:after {
	content: '';
	display: table;
}
.clear:after { clear: both; }
@media screen and (max-width: 991px) {
	body { overflow: visible; }
	.l-grid {
		max-width: 100%;
		padding: 0 20px;
	}
}
@media screen and (max-width: 767px) {
	.l-grid { padding: 0 15px; }
}


/*====================================

	3. General

====================================*/
.c-container { background-color: #f5f5f5; }

/*#loading {
	width: 80px;
	height: 80px;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	z-index: 10;
}
#fade {
	width: 100%;
	height: 100%;
	display: none;
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
}*/

/* breadcrumbs */
.breadcrumbs.l-grid { padding: 10px 30px; }
.breadcrumbs__list {
	line-height: 1;
	letter-spacing: -.4em;
}
.breadcrumbs__list li {
	display: inline-block;
	letter-spacing: normal;
}
.breadcrumbs__list li:first-child:before {
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 11px -2px 0;
	background-image: url(/assets/images/common/icon_crumbs-home.png);
	background-repeat: no-repeat;
}
.breadcrumbs__list li:not(:last-child):after {
	content: '';
	display: inline-block;
	width: 11px;
	height: 9px;
	margin: 0 20px;
	background-image: url(/assets/images/common/icon_double-arrow.png);
	background-repeat: no-repeat;
}
.breadcrumbs__list span,
.breadcrumbs__list .breadcrumbs__item {
	font-size: 13px;
	line-height: 1.538461538;
}
.breadcrumbs__list .breadcrumbs__item {
	color: #2383c5;
	text-decoration: underline;
}
.breadcrumbs__list .breadcrumbs__item:hover {
	text-decoration: none;
	opacity: 1;
}
.breadcrumbs__list span { color: #3e4244; }
@media screen and (max-width: 768px) {
	.breadcrumbs.l-grid { padding: 10px 20px; }
}
@media screen and (max-width: 568px) {
	.breadcrumbs.l-grid { padding: 5px 10px; }
}


/*====================================

	4. Header

====================================*/
.st-header { position: relative; }
.st-header__navBtn { display: none; }
.st-header__logo {
	float: left;
	/*width: 18.947368%;*/
	line-height: 1;
}
.st-header__logo img { max-width: 100% }
.st-header__logo > a {
	display: block;
	padding: 14px 0;
}
.st-header__nav { float: right; }
	/*width: 61.05263%;
	padding-left: 5.70175438%;*/
.st-header__globalNav > li {
	float: left;
	display: table;
}
.st-header__globalNav__cell { position: relative; }
.st-header__globalNav__link {
	display: table-cell;
	text-align: center;
	line-height: 76px;
	vertical-align: middle;
	padding: 25px 16px 15px;
	position: relative;
}
.st-header__globalNav > li:nth-child(6) { margin: 0  19px 0 0; }
.st-header__globalNav > li:last-child .st-header__globalNav__link {
	background-color: #eaebeb;
	padding: 25px 39px 15px;
}
.st-header__globalNav__link.active > span { color: #0a74c7; }
.st-header__globalNav__link:hover,
.st-header__globalNav__link:hover > span {
	color: #0a74c7;
	opacity: 1;
}
.st-header__globalNav__link.active::after,
.st-header__globalNav__link.showActive::after,
.st-header__globalNav__link:hover::after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 4px;
	background-color: #0a74c7;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.st-header__globalNav__link:after {
	content: '';
	display: block;
	height: 4px;
	position: absolute;
	right: 0;
	bottom: -4px;
	left: 0;
	background-color: transparent;
	-webkit-transition: bottom .2s cubic-bezier(.1,.8,.35,1), height .6s cubic-bezier(.1,.8,.35,1);
	transition: bottom .2s cubic-bezier(.1,.8,.35,1), height .6s cubic-bezier(.1,.8,.35,1);
	will-change: bottom;
}
.st-header__globalNav__link:hover::after {
	bottom: 0;
	transition-duration: .3s;
}
.st-header__globalNav__lato {
	display: block;
	font-family: 'Lato-BoldItalic';
	line-height: 1;
}
.st-header__globalNav__txt {
	display: block;
	color: #919ca2;
	font-size: 11px;
	line-height: 20px;
}
.st-header__globalNav__inner {
	display: none;
	background-color: rgba(6,34,46,.85);
	padding: 30px 0;
	position: absolute;
	left: 0;
	z-index: 100;
	overflow: hidden;
}
.st-header__infoNav { display: table; }
.st-header__infoNav__top,
.st-header__infoNav__list {
	display: table-cell;
	vertical-align: middle;
}
.st-header__infoNav__top {
	width: 23.947368%;
	height: 100%;
	line-height: 1;
	text-align: center;
	background-color: rgba(0,0,0,.28);
	padding: 0 5px;
}
.st-header__infoNav__top--lato {
	display: block;
	color: #ffdf33;
	font-family: 'Lato-BoldItalic';
	font-size: 12px;
	letter-spacing: 0.2em;
	margin: 0 0 15px;
}
.st-header__infoNav__top--txt {
	display: block;
	color: #fff;
	font-size: 21px;
	font-weight: bold;
	letter-spacing: 0.2em;
}
.st-header__infoNav__top--txt.lspace { letter-spacing: normal; }
.st-header__infoNav__list > li {
	float: left;
	padding: 0 0 0 16px;
}
.st-header__infoNav__list > li:nth-child(n+4) { padding: 16px 0 0 16px; }
.st-header__infoNav__link { display: block; }
.st-header__infoNav__img {
	position: relative;
	overflow: hidden;
}
.st-header__infoNav__img .is-hover__mask {
	width: 100%;
	height: 154px;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
	-webkit-transition: .3s;
	transition: .3s;
}
.grid-col-2__panel:hover{ opacity:1; }
.grid-col-2__panel .grid-col-2__img::before {
	content:'';
	-webkit-transition: .3s;
    transition: .3s;
	z-index: 1;
		position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.grid-col-2__panel:hover .grid-col-2__img::before{ background-color: rgba(0,0,0,0.5); }
.st-header__infoNav__img > img {
	max-width: 100%;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.st-header__infoNav__link:hover { opacity: 1; }
.st-header__infoNav__link:hover .st-header__infoNav__img > img {
	-webkit-transform: scale(1.08);
	transform: scale(1.08);
}
.st-header__infoNav__link:hover .st-header__infoNav__img .is-hover__mask { opacity: 1; }
.st-header__infoNav__inner {
	background-color: rgba(0,0,0,.28);
	padding: 12px 12px 13px;
}
.st-header__infoNav__inner.mgB { padding: 12px 12px 33px; }
.st-header__infoNav__inner--lato,
.st-header__infoNav__inner--txt {
	display: block;
}
.st-header__infoNav__inner--lato {
	color: #ffdf33;
	font-family: 'Lato-BoldItalic';
	font-size: 10px;
	line-height: 1;
	letter-spacing: 0.2em;
	margin: 0 0 9px;
}
.st-header__infoNav__inner--txt {
	color: #fff;
	font-weight: bold;
	line-height: 20px;
}
.st-header__infoNav__inner--txt.lspace { letter-spacing: -0.06em }
.st-header__localNav {
	background-color: #2b434d;
	position: absolute;
	z-index: 10;
}
.st-header__localNav__list.l-grid { padding: 0; }
.st-header__localNav__list {
	text-align: center;
	letter-spacing: -.4em;
}
.st-header__localNav__list li {
	display: inline-block;
	letter-spacing: normal;
}
.st-header__localNav__item {
	display: block;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 30px;
	position: relative;
}
.st-header__localNav__item:hover { opacity: 1; }
.st-header__localNav__item:hover:after { background-color: #fff; }
.st-header__localNav__item.active::after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.st-header__localNav__item:after {
	content: '';
	display: block;
	height: 2px;
	position: absolute;
	right: 0;
	bottom: -2px;
	left: 0;
	background-color: transparent;
	-webkit-transition: bottom .2s cubic-bezier(.1,.8,.35,1), height .6s cubic-bezier(.1,.8,.35,1);
	transition: bottom .2s cubic-bezier(.1,.8,.35,1), height .6s cubic-bezier(.1,.8,.35,1);
	will-change: bottom;
}
.st-header__localNav__item:hover::after {
	bottom: 0;
	transition-duration: .3s;
}
#HeaderSimple .st-header__globalNav>li:last-child .st-header__globalNav__link { padding: 30px 38px; }
#HeaderSimple .st-header__globalNav__lato { font-family: 'Lato-Italic'; }
@media screen and (max-width: 991px) {
	.st-header__inner { position: relative; }
	.st-header__navBtn {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	.st-header__navBtn__trigger {
		position: relative;
		display: block;
		width: 40px;
		height: 40px;
	}
	.st-header__navBtn__trigger span {
		position: absolute;
		left: 0;
		display: block;
		width: 100%;
		height: 8px;
		background-color: #3e4244;
	}
	.st-header__navBtn__trigger,
	.st-header__navBtn__trigger span {
		-webkit-transition: all .4s;
		transition: all .4s;
	}
	.st-header__navBtn__trigger span:nth-of-type(1) { top: 0; }
	.st-header__navBtn__trigger span:nth-of-type(2) { top: 16px; }
	.st-header__navBtn__trigger span:nth-of-type(3) { bottom: 0; }
	.st-header__navBtn__trigger.active span:nth-of-type(1) {
		-webkit-transform: translateY(16px) rotate(-45deg);
		transform: translateY(16px) rotate(-45deg);
	}
	.st-header__navBtn__trigger.active span:nth-of-type(2) {
		left: 50%;
		opacity: 0;
		-webkit-animation: activeMenu .8s forwards;
		animation: activeMenu .8s forwards;
	}
	.st-header__navBtn__trigger.active span:nth-of-type(3) {
		-webkit-transform: translateY(-16px) rotate(45deg);
		transform: translateY(-16px) rotate(45deg);
	}
	@-webkit-keyframes activeMenu {
		100% {
			height: 0;
		}
	}
	@keyframes activeMenu {
		100% {
			height: 0;
		}
	}
	.st-header__nav {
		float: none;
		display: none;
		position: absolute;
		top: 76px;
		right: 0;
		left: 0;
		margin: auto -20px;
		z-index: 100;
	}
	.st-header__globalNav > li {
		float: none;
		display: block;
		background-color: rgba(6,34,46,.85);
		border-bottom: 1px solid rgba(91,104,110,.75);
	}
	.st-header__globalNav > li:nth-child(6) { margin: 0; }
	.st-header__globalNav > li:last-child .st-header__globalNav__link {
		background-color: transparent;
		padding: 20px 20px 18px;
	}
	.st-header__globalNav__link {
		display: block;
		text-align: left;
		padding: 20px 20px 18px;
	}
	.st-header__globalNav__link:hover,
	.st-header__globalNav__link:hover > span {
		color: #fff;
		opacity: .8;
	}
	.st-header__globalNav__link.active::after,
	.st-header__globalNav__link:hover::after {
		content: none;
	}
	.st-header__globalNav__lato {
		color: #fff;
		font-size: 18px;
	}
	.st-header__globalNav__inner {
		background-color: transparent;
		padding: 0;
		position: static;
	}
	.st-header__globalNav__txt { color: #fff; }
	.st-header__globalNav__link:after { content: none; }
	.st-header__infoNav { display: block; }
	.st-header__infoNav__top,
	.st-header__infoNav__list {
		display: block;
	}
	.st-header__infoNav__top {
		width: auto;
		background-color: transparent;
		border-top: 1px solid rgba(91,104,110,.75);
		padding: 30px 0 10px;
	}
	.st-header__infoNav__top--lato { display: none; }
	.st-header__infoNav__top--txt {
		font-size: 16px;
		font-weight: normal;
		text-align: left;
		letter-spacing: normal;
	}
	.st-header__infoNav__list > li {
		float: none;
		width: auto;
		padding: 0;
	}
	.st-header__infoNav__list > li:nth-child(n+4) { padding: 0; }
	.st-header__infoNav__link { padding: 10px 0; }
	.st-header__infoNav__list > li:last-child .st-header__infoNav__link { padding: 10px 0 30px; }
	.st-header__infoNav__img { display: none; }
	.st-header__infoNav__img > img {
		max-width: 100%;
		transform: none;
		transition: none;
	}
	.st-header__infoNav__link:hover .st-header__infoNav__img img { transform: none; }
	.st-header__infoNav__inner {
		background-color: transparent;
		padding: 0;
	}
	.st-header__infoNav__inner.mgB { padding: 0; }
	.st-header__infoNav__inner--lato { display: none; }
	.st-header__infoNav__inner--txt {
		font-size: 16px;
		font-weight: normal;
		line-height: 1;
	}
	.st-header__globalNav__icon:before {
		content: '';
		width: 10px;
		height: 10px;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
		position: absolute;
		top: 50%;
		right: 32px;
		margin-top: -7px;
	}
	.st-header__globalNav__icon.active:before {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		margin-top: -3px;
	}
	.st-header__localNav {
		background-color: transparent;
		right: 0;
		left: 0;
	}
	.st-header__loclalBtn {
		color: #fff;
		font-size: 18px;
		background-color: #2b434d;
		line-height: 50px;
		padding: 0 20px;
		cursor: pointer;
		position: relative;
	}
	.st-header__localNav__list.l-grid {
		display: none;
		font-size: 18px;
		text-align: left;
		padding: 0;
	}
	.st-header__localNav__list li {
		display: block;
		background-color: #2b434d;
		border-top: 1px solid #4a5d65;
	}
	.st-header__localNav__item {
		display: block;
		color: #fff;
		font-size: inherit;
		line-height: 75px;
		padding: 0 20px;
	}
	.st-header__localNav__item:after,
	.st-header__localNav__item:hover::after {
		content: none;
	}
	.st-header__loclalBtn__icon:before {
		content: '';
		width: 10px;
		height: 10px;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
		position: absolute;
		top: 50%;
		right: 32px;
		margin-top: -7px;
	}
	.st-header__loclalBtn__icon.active:before {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		margin-top: -3px;
	}
	#HeaderSimple .st-header__nav {	display: block; }
	#HeaderSimple .st-header__nav { position: static; }
	#HeaderSimple .st-header__globalNav > li {
		background-color:#eaebeb;
		float: right;
		margin-right:30px;
		border:0;
	}
	#HeaderSimple .st-header__globalNav__lato {
		color:#3e4244;
		font-size:16px;
	}
}
@media screen and (max-width: 767px) {
	.st-header__content.l-grid { padding: 0 10px; }
	.st-header__logo > a { padding: 7px 0 9px; }
	.st-header__logo img {
		width: 152px;
		height: 34px;
	}
	.st-header__navBtn { right: 5px; }
	.st-header__navBtn__trigger {
		width: 25px;
		height: 25px;
	}
	.st-header__navBtn__trigger span { height: 5px; }
	.st-header__navBtn__trigger span:nth-of-type(2) { top: 10px; }
	.st-header__navBtn__trigger.active span:nth-of-type(1) {
		-webkit-transform: translateY(10px) rotate(-45deg);
		transform: translateY(10px) rotate(-45deg);
	}
	.st-header__navBtn__trigger.active span:nth-of-type(3) {
		-webkit-transform: translateY(-10px) rotate(45deg);
		transform: translateY(-10px) rotate(45deg);
	}
	.st-header__nav {
		top: 50px;
		margin: auto -10px;
	}
	.st-header__globalNav__link { padding: 12px 10px 7px; }
	.st-header__globalNav > li:last-child .st-header__globalNav__link { padding: 12px 10px; }
	.st-header__globalNav__lato { font-size: 14px; }
	.st-header__globalNav__txt { font-size: 10px; }
	.st-header__globalNav__icon:before { right: 20px; }
	.st-header__infoNav.l-grid { padding: 0 10px; }
	.st-header__infoNav__top { padding: 20px 0 7px; }
	.st-header__infoNav__link { padding: 7px 0; }
	.st-header__infoNav__list > li:last-child .st-header__infoNav__link { padding: 7px 0 20px; }
	.st-header__infoNav__top--txt { font-size: 13px; }
	.st-header__infoNav__inner--txt { font-size: 13px; }
	.st-header__loclalBtn__icon:before { right: 17px; }
	.st-header__loclalBtn {
		font-size: 14px;
		line-height: 2.5;
		padding: 0 10px;
	}
	.st-header__localNav__list { font-size: 14px; }
	.st-header__localNav__item {
		font-size: 14px;
		line-height: 3.5714285;
		padding: 0 10px;
	}
	#HeaderSimple .st-header__globalNav > li:last-child .st-header__globalNav__link { padding: 18px 6px; }
	#HeaderSimple .st-header__globalNav__lato { font-size:14px; }
	#HeaderSimple .st-header__globalNav > li{ margin-right:20px; }
}


/*====================================

	5. Footer

====================================*/
#Footer { position: relative; overflow: hidden; }

#Footer .box{
    overflow: hidden;
    padding: 0 0 40px 0;
}

#Footer iframe{

    height: 440px!important;
    
}

.Footer__other{
    padding: 25px 0;
    width: 320px;
    margin: 0 30px 0 0;
    float: left;
}


#Footer .insta{
    width: 320px;
    height: 400px;
    float: left;
    padding: 22px 0 0 0;
}


.Footer__other .fb-page > span{
    display: block;
    margin: 0 auto;
}

.st-footer__navBtn { display: none; }
.st-footer { background-color: #eaebeb; }
.st-footer__infoNav > li {
	float: left;
	display: table;
}
.st-footer__infoNav__cell { position: relative; }
.st-footer__infoNav__link {
	display: table-cell;
	text-align: center;
	line-height: 76px;
	vertical-align: middle;
	padding: 20px 16px;
	position: relative;
}
.st-footer__infoNav__lato {
	display: block;
	font-family: 'Lato-BoldItalic';
	line-height: 1;
}
.st-footer__infoNav__txt {
	display: block;
	color: #919ca2;
	font-size: 11px;
	line-height: 20px;
}
.st-footer__copyright {
	float: left;
	font-family: 'Lato-BoldItalic';
	font-size: 14px;
	line-height: 1;
}
.st-footer__foot__inner {
	border-top: 2px solid #fff;
	padding: 29px 0px 28px;
}
.st-footer__foot__list {
	/*float: right;*/
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -.4em;
    margin: 0 0 0 15px;
}
.st-footer__foot__list li {
	display: inline-block;
	letter-spacing: normal;
	position: relative;
}
.st-footer__foot__list li:first-child a { padding: 0 24px 0 0; }
.st-footer__foot__list li:last-child a { padding: 0 0 0 24px; }
.st-footer__foot__list li:first-child:after {
	content: '';
	width: 1px;
	height: 100%;
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.st-footer__foot__list a { display: block; }
.pageTop {
	display: none;
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 100;
}

.st-footer__nav{
    width: 100%;
    margin: 30px 160px 0 0;
    /*float: left;*/
}

.st-footer{
    clear: both;
}

.pageTop a {
	display: block;
	width: 48px;
	height: 48px;
}
#FooterSimple .st-footer__foot__inner { border-top: none; }









@media screen and (max-width: 991px) {
	.st-footer__row.l-grid { padding: 24px 30px 0; }
	.st-footer__navBtn {
		display: block;
		font-family: 'Lato-BoldItalic';
		font-size: 18px;
		text-align: center;
		line-height: 56px;
		background-color: #fff;
		cursor: pointer;
		position: relative;
	}
	.st-footer__navBtn__icon:before {
		content: '';
		width: 10px;
		height: 10px;
		border-top: 1px solid #b2b2b2;
		border-right: 1px solid #b2b2b2;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
		position: absolute;
		top: 50%;
		right: 14px;
		margin-top: -7px;
	}
	.st-footer__navBtn__icon.active:before {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		margin-top: -3px;
	}
	.st-footer__nav { display: none; }
	.st-footer__infoNav > li {
		float: none;
		display: block;
		background-color: #fff;
		border-top: 1px solid #eaebeb;
	}
	.st-footer__infoNav__link:hover,
	.st-footer__infoNav__link:hover > span {
		color: #0a74c7;
		opacity: 1;
	}
	.st-footer__infoNav__link.active::after,
	.st-footer__infoNav__link:hover::after {
		content: none;
	}
	.st-footer__infoNav__link {
		display: block;
		text-align: left;
		padding: 20px 5px 18px 20px;
	}
	.st-footer__infoNav__lato {	font-size: 18px; }
	.st-footer__foot {
		padding: 0;
		margin: 24px 0 0;
	}
	.st-footer__foot__inner { padding: 27px 30px 34px; }
	#FooterSimple .st-footer__foot { margin:0; }
}
@media screen and (max-width: 767px) {
	.st-footer__row.l-grid { padding: 12px 3.125% 0; }
	.st-footer__navBtn {
		font-size: 16px;
		line-height: 2.875;
	}
	.st-footer__infoNav__link { padding: 9px 5px 9px 10px; }
	.st-footer__infoNav__lato { font-size: 14px; }
	.st-footer__infoNav__txt {
		font-size: 10px;
		line-height: 2;
	}
	.st-footer__foot { margin: 12px 0 0; }
	.st-footer__foot__inner { padding: 0; }
	.st-footer__copyright {
		float: none;
		text-align: center;
		line-height: 4.3571428;
		border-top: 2px solid #fff;
	}
	.st-footer__foot__list {
		float: none;
		line-height: 3.4285714;
	}
	.st-footer__foot__list li {
		width: 50%;
		text-align: center;
	}
	.st-footer__foot__list li:first-child a { padding: 0; }
	.st-footer__foot__list li:last-child a { padding: 0; }
	.st-footer__foot__list li:first-child:after { width: 2px; }
}


/*====================================

	Template

====================================*/
.st-main.mgT { margin-top: 40px; }
.top-container { position: relative; }
.grid-2 .top-hero {
	width: 100%;
	height: auto;
	padding-top: 420px;
	background-image: url(/template/2nd/images/hero.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
.grid-3 .top-hero {
	width: 100%;
	height: auto;
	padding-top: 300px;
	background-image: url(/template/3rd/images/hero.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	position: relative;
}
.grid-local .top-hero {
	width: 100%;
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	position: relative;
}
.top-hero__heading__inner {
	width: 100%;
	height: auto;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.grid-2 .top-hero__heading__inner { top: 50%; }
.grid-3 .top-hero__heading__inner { top: 43%; }
.top-hero__ttl,
.top-hero__copy,
.top-hero__copy__local {
	text-align: center;
	line-height: 1;
}
.top-hero__copy {
	color: #fff;
	position: relative;
	margin: 60px 0 0;
}
.top-hero__copy:before {
	content: '';
	width: 60px;
	height: 3px;
	background-color: #fff;
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
}
.top-hero__ttl__txt--lato,
.top-hero__ttl--txt {
	display: block;
}
.top-hero__ttl__txt--lato,
.top-hero__ttl--txt.lspace {
	letter-spacing: 0.2em;
}
.top-hero__ttl__txt--lato {
	font-family: "Lato-Italic";
	color: #ffdf33;
	font-size: 24px;
	text-shadow: 0 0 43px rgba(38,65,84,.66);
	margin: 0 0 30px;
}
.top-hero__ttl--txt {
	color: #fff;
	font-size: 40px;
	text-shadow: 0 0 43px rgba(38,65,84,.66);
}
.top-hero__copy--rock,
.top-hero__copy--txt,
.top-hero__copy--txt > span,
.top-hero__copy__local--rock,
.top-hero__copy__local--txt,
.top-hero__copy__local--txt > span {
	display: block;
}
.top-hero__copy--rock {
	font-family: "RockSalt";
	font-size: 36px;
	letter-spacing: 0.1em;
	text-shadow: 0 0 43px rgba(38,65,84,.66);
	padding: 66px 0 0;
	margin: 0 0 40px;
}
.top-hero__copy--rock > span {
	display: inline-block;
	letter-spacing: 0.26em;
}
.top-hero__copy--txt {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-shadow: 0 0 43px rgba(38,65,84,.66);
}
.top-hero__copy--txt > span {
	font-size: 18px;
	text-shadow: 0 0 43px rgba(38,65,84,.66);
	letter-spacing: 0.1em;
	margin: 20px 0 0;
}
.top-hero__scroll span {
	display: block;
	width: 40px;
	height: 70px;
	margin-left: -20px;
	border: 1px solid #fff;
	border-radius: 20px;
	box-shadow: 0 0 43px rgba(38,65,84,.66);
	position: absolute;
	left: 50%;
}
.top-hero__scroll span::before {
	content: '';
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: scrollAnimation 2s infinite;
	animation: scrollAnimation 2s infinite;
	position: absolute;
	top: 15px;
	left: 50%;
}
@-webkit-keyframes scrollAnimation {
	0% {
		-webkit-transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		-webkit-transform: translate(0, 35px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@-moz-keyframes scrollAnimation {
	0% {
		-webkit-transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		-webkit-transform: translate(0, 35px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@-o-keyframes scrollAnimation {
	0% {
		-webkit-transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		-webkit-transform: translate(0, 35px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@-ms-keyframes scrollAnimation {
	0% {
		-webkit-transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		-webkit-transform: translate(0, 35px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes scrollAnimation {
	0% {
		transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		transform: translate(0, 35px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@media screen and (max-width: 991px) {
	.st-main.mgT { margin-top: 50px; }
	.grid-2 .top-hero {	padding-top: 256px; }
	.grid-3 .top-hero {	padding-top: 180px; }
	.grid-3 .top-hero__heading__inner { top: 46.19%; }
	.top-hero__ttl__txt--lato {
		font-size: 18px;
		margin: 0 0 18px;
	}
	.top-hero__ttl--txt { font-size: 30px; }
}
@media screen and (max-width: 767px) {
	.st-main.mgT { margin-top: 35px; }
	.grid-2 .top-hero { padding-top: 113px; }
	.grid-3 .top-hero { padding-top: 90px; }
	.grid-3 .top-hero__heading__inner { top: 50%; }
	.top-hero__ttl__txt--lato {
		font-size: 14px;
		margin: 0 0 13px;
	}
	.top-hero__ttl--txt { font-size: 18px; }
	.top-hero__ttl__img { width: 320px; }
	.top-hero__scroll { display: none; }
    .st-footer__infoNav{
        margin: 0 0 20px 0;
    }
}


/*====================================

	2nd

====================================*/
.grid-col-2 {
	width: 100%;
	padding: 0 0 40px;
}
.grid-col-2 img { width: 100%; }
.grid-col-2__panel {
	float: left;
	display: table;
}
.grid-col-2__img,
.grid-col-2__ttl {
	display: table-cell;
	background-color: #fff;
	position: relative;
}
.grid-col-2__img { overflow: hidden; }
.grid-col-2__ttl {
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	vertical-align: middle;
	position: relative;
}
.grid-col-2__ttl__inner {
	display: block;
	padding: 0 8.75%;
	position: relative;
}
.grid-col-2__ttl__inner:after {
	content: '';
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 2;
}
.grid-col-2__panel:first-child .grid-col-2__ttl__inner:after,
.grid-col-2__panel:nth-child(2) .grid-col-2__ttl__inner:after,
.grid-col-2__panel:nth-child(5) .grid-col-2__ttl__inner:after{
	border-right: 26px solid #fff;
	left: -26px;
}
.grid-col-2__panel:nth-child(3) .grid-col-2__ttl__inner:after,
.grid-col-2__panel:nth-child(4) .grid-col-2__ttl__inner:after {
	border-left: 26px solid #fff;
	right: -26px;
}
.grid-col-2__panel .grid-col-2__img img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.grid-col-2__panel:hover .grid-col-2__img img {
	-webkit-transform: scale(1.08);
	transform: scale(1.08);
}
.grid-col-2__ttl__inner > span {
	display: block;
	font-family: "Lato-Italic";
	color: #ffdf33;
	font-size: 14px;
	line-height: 1;
	letter-spacing: 0.2em;
	padding: 0 0 14px;
}
@media screen and (max-width: 991px) {
	.grid-col-2__panel { float: none; }
	.grid-col-2__panel:nth-child(2) .grid-col-2__img {
		position: relative;
		right: -50%;
	}
	.grid-col-2__panel:nth-child(2) .grid-col-2__ttl {
		left: -50%;
	}
	.grid-col-2__panel:nth-child(2) .grid-col-2__ttl__inner:after {
		border-right: none;
		border-left: 26px solid #fff;
		right: -26px;
		left: auto;
	}
	.grid-col-2__panel:nth-child(3) .grid-col-2__img {
		position: relative;
		left: -50%;
	}
	.grid-col-2__panel:nth-child(3) .grid-col-2__ttl { right: -50%; }
	.grid-col-2__panel:nth-child(3) .grid-col-2__ttl__inner:after {
		border-left: none;
		border-right: 26px solid #fff;
		right: auto;
		left: -26px;
	}
}
@media screen and (max-width: 767px) {
	.grid-col-2__ttl__inner:after {
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
	}
	.grid-col-2__panel:first-child .grid-col-2__ttl__inner:after {
		border-right: 11px solid #fff;
		left: -11px;
	}
	.grid-col-2__panel:nth-child(4) .grid-col-2__ttl__inner:after {
		border-left: 11px solid #fff;
		right: -11px;
	}
	.grid-col-2__panel:nth-child(2) .grid-col-2__ttl__inner:after {
		border-left: 11px solid #fff;
		right: -11px;
	}
	.grid-col-2__panel:nth-child(3) .grid-col-2__ttl__inner:after {
		border-right: 11px solid #fff;
		left: -11px;
	}
	.grid-col-2__ttl {
		font-size: 14px;
		line-height: 1.285714;
	}
	.grid-col-2__ttl__inner > span {
		font-size:12px;
		padding:0 0 10px;
	}
}


/*====================================

	3rd

====================================*/
.grid-3 .c-container { padding: 0 0 40px; }
.grid-col-3 {
	width: 100%;
	max-width: 992px;
	background-color: #fff;
	margin: -40px auto 0;
	padding: 40px;
	position: relative;
}
.grid-col-3 img { max-width: 100%; }
.grid-col-3__head { margin: 0 0 28px; }
.grid-col-3__body { margin: 0 0 34px; }
.grid-col-3__body__ttl {
	font-size: 24px;
	line-height: 48px;
	border-bottom: 2px solid #dce0e3;
	padding: 0 0 12px;
	margin: 0 0 34px;
}
.grid-col-3__body__media { margin: 0 0 18px; }
.grid-col-3__body__block,
.grid-col-3__body__img,
.grid-col-3__body__items {
	float: left;
}
.grid-col-3__body__block:not(:last-child) { padding: 0 1.53508771% 0 0; }
.grid-col-3__body__txt { line-height: 28px; }
.grid-col-3__body__txt:not(:last-child) { margin: 0 0 18px; }
.grid-col-3__body__img { text-align: right; }
.grid-col-3__foot {
	background-color: #eaebeb;
	padding: 23px 30px 30px;
}
.grid-col-3__foot__heading {
	font-size: 16px;
	line-height: 28px;
	margin: 0 0 17px;
}
.grid-col-3__foot__img {
	float: left;
	width: 262px;
	padding: 0 22px 0 0;
}
.grid-col-3__foot__block {
	float: left;
	width: 100%;
	margin-left: -262px;
}
.grid-col-3__foot__block__inner { margin-left: 262px; }
.grid-col-3__foot__ttl {
	font-size: 16px;
	line-height: 1;
	margin: 0 0 7px;
}
.grid-col-3__foot__txt {
	font-size: 14px;
	line-height: 21px;
	margin: 0 0 12px 0;
}
.grid-col-3__foot__btn .btn-primary { width: auto; }
@media screen and (max-width: 991px) {
	.grid-col-3 {
		width: auto;
		margin: -20px 20px 0;
		padding: 30px;
	}
	.grid-col-3__head {	margin: 0 0 26px; }
	.grid-col-3__body { margin: 0 0 27px; }
	.grid-col-3__body__ttl {
		line-height: 32px;
		padding: 0 0 19px;
		margin: 0 0 22px;
	}
}
@media screen and (max-width: 767px) {
	.grid-col-3 {
		margin: 0;
		padding: 20px 15px;
	}
	.grid-col-3 img { width: 100%; }
	.grid-col-3__head {	margin: 0 0 15px; }
	.grid-col-3__body { margin: 0 0 10px; }
	.grid-col-3__body__ttl {
		font-size: 15px;
		line-height: 1.6;
		padding: 0 0 8px;
		margin: 0 0 9px;
	}
	.grid-col-3__body__media { margin: 0 0 14px; }
	.grid-col-3__body__block {
		float: none;
		padding: 0;
	}
	.grid-col-3__body__img {
		float: none;
		padding: 0 20px;
		margin: 10px 0 0;
	}
	.grid-col-3__body__txt {
		font-size: 14px;
		line-height: 1.5714285;
	}
	.grid-col-3__body__txt:not(:last-child) { margin: 0 0 4px; }
	.grid-col-3__foot { padding: 9px 15px 15px; }
	.grid-col-3__foot__heading {
		font-size: 14px;
		line-height: 1.5714285;
		margin: 0 0 11px;
	}
	.grid-col-3__foot__img,
	.grid-col-3__foot__block {
		float: none;
		width: 100%;
	}
	.grid-col-3__foot__img {
		text-align: center;
		padding: 0;
		margin: 0 0 12px;
	}
	.grid-col-3__foot__block,
	.grid-col-3__foot__block__inner {
		margin-left: 0;
	}
	.grid-col-3__foot__ttl {
		font-size: 14px;
		line-height: 1.2857142;
		margin: 0 0 5px;
	}
	.grid-col-3__foot__txt {
		font-size: 12px;
		line-height: 1.5;
	}
	.grid-col-3__foot__btn .btn-primary {
		width: 100%;
		text-align: center;
		padding: 0;
	}
}


/*====================================

	404

====================================*/
#ed404 .top-hero { background-image: url(/assets/images/common/hero_basic.png); }
.ed404 { min-height: 560px; }
.ed404 p {
	text-align: center;
	line-height: 28px;
	margin: 0 0 34px;
}
.ed404 p + p { margin: 0 0 44px; }
.ed404 .link-btn {
	width: 371px;
	margin: 0 auto;
}
.ed404 .link-btn a {
	display: block;
	color: #fff;
	line-height: 62px;
	text-align: center;
	background-color: #2383c5;
	border: 2px solid #2383c5;
}
.ed404 .link-btn a::before,
.ed404 .link-btn a::after {
	background-color: #2383c5;
}
.ed404 .link-btn a:hover {
	background-color: #fff;
	color: #2383c5;
}
@media screen and (max-width: 767px) {
	#ed404 .top-hero__ttl__txt--lato { margin: 0 0 9px; }
	#ed404 .top-hero__ttl--txt { line-height: 1.465833; }
	.ed404 .link-btn { width: 100%; }
	.ed404 p {
		text-align: left;
		font-size: 14px;
		line-height: 22px;
		margin: 0 0 26px;
	}
	.ed404 p + p { margin: 0 0 19px; }
	.ed404 .link-btn a {
		font-size: 14px;
		font-weight: bold;
		line-height: 42px;
	}
}


/* sns */

#sns{
    overflow: hidden;
    margin: 15px 15px 15px;
}

#sns li{
    float: left;
     margin: 0 10px 0 0;
    padding: 0 10px 0 0;
}
